{% extends 'base.html'%}
  {% block title %}
    <title>О технологиях</title>
  {% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row">
  <h1>Об используемых технологиях:</h1>
   <aside class="col-12 col-md-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Для создания данного проекта я использовал технологии фреймворка<br>
    Django 2.2, используя среду IDE PyCharm.</p>
  </article>
  </div>
</div>
{% endblock %}