{% load user_filters %}
    <h5 class="mt-0">
      <a href="{% url 'posts:profile' comment.author.username %}">
        {% include 'posts/includes/author_view.html' with post=comment %}
      </a>
    </h5>
    <p style="font:menu; color:grey">
      {{ comment.created }}</p>
    <p>
      {{ comment.text|safe|linebreaksbr }}
    </p>
    {% if global_comment %}
    {% if comment.comments.count %}
    <a data-bs-toggle="collapse"
       href="#collapseComment{{comment.pk}}" aria-expanded="false"
       aria-controls="collapseComments">
      <span style="font:menu">Развернуть ответы ({{ comment.comments.count }})</span>
    </a>
    {% endif %}
    <a data-bs-toggle="collapse"
       href="#collapse{{comment.pk}}" aria-expanded="false"
       aria-controls="collapseExample">
      <span style="font:menu">Ответить</span>
    </a>
    <div class="collapse" id="collapse{{comment.pk}}">
      <div class="card card-body">
        <form method="post"
              action="{% url 'posts:add_comment_to_comment' post.id comment.id %}">
          {% csrf_token %}
          <div class="form-group mb-2">
            {{ form.text|addclass:'form-control' }}
          </div>
          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
      </div>
    </div>
    <a href="{% url 'posts:add_comment_with_quote' post.id comment.id %}">
      <span style="font:menu">Процитировать</span>
    </a>
    {% endif %}
    {% if comment.author.username == request.user.username or request.user.is_superuser %}
    <a href="{% url 'posts:comment_del' post.id comment.id %}"
       style="float: right;">
      <span style="color:red; font:menu">Удалить комментарий</span>
    </a>
    {% endif %}