{% extends 'base.html' %}
{% load user_filters %}
{% load thumbnail %}
{% block title%}
    <title>Пост {{ post.text }}</title>
{% endblock %}
{% block content%}
      <div class="row" style="margin-top:130px;">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
            <li class="list-group-item">
              Группа:
            {% if post.group %}
              <a href="{% url 'posts:group_list' post.group.slug %}">
                {{ post.group }}
              </a>
            {% else %}
                отсутствует
            {% endif %}
            </li>
            <li class="list-group-item">
              {% include 'posts/includes/author_view.html' %}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{ post.author.posts.count }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Число подписиков:<span>{{ post.author.following.count }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Число подписок:<span>{{ post.author.follower.count }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url 'posts:like' post.id %}" style="color:green">
                👍 +{{ post.like.count }}
              </a>
              <a href="{% url 'posts:dislike' post.id %}" style="color:red">
              👎 -{{ post.dislike.count }}
              </a>
            </li>
            <li class="list-group-item">
              <div class='col-'>
                <a class="btn btn-outline-primary btn-block col-12"
                  href="{% url 'posts:profile' post.author.username %}"
                  role="button">Все посты пользователя
                </a>
                {% if post.author.username == request.user.username or request.user.is_superuser %}
                <a class="btn btn-primary btn-block col-12"
                  href="{% url 'posts:post_edit' post.id %}"
                  role="button">Редактировать пост
                </a>
                <button type="button" class="btn btn-danger col-12"
                  data-bs-toggle="modal" data-bs-target="#Modal">
                  Удалить пост
                </button>
                <div class="modal fade" id="Modal" tabindex="-1"
                       role="dialog" aria-labelledby="exampleModalLabel"
                       aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Подтверждение удаления
                          </h5>
                          <button type="button" class="close"
                                 data-bs-dismiss="modal" aria-label="Closes">
                          <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Вы уверены,что хотите удалить пост?
                        </div>
                        <div class="modal-footer">
                          <a class="btn btn-danger"
                            href="{% url 'posts:post_delete' post.id %}"
                            role="button">Удалить пост
                          </a>
                          <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Отмена
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </li>
            </ul>
          </aside>
        <article class="col-12 col-md-9">
          {% thumbnail post.image "960x500" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <p>
           {{ post.text }}
          </p>
          {% if user.is_authenticated %}
          <div class="card my-4">
            <h5 class="card-header">Добавить комментарий:</h5>
            <div class="card-body" >
              <form method="post" action="{% url 'posts:add_comment' post.id %}">
              {% csrf_token %}
                <div class="form-group mb-2">
                  {{ form.text|addclass:'form-control' }}
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
              </form>
            </div>
          </div>
          {% endif %}
          <div id="myform">
          {% for comment in comments %}
          {% if not comment.comment_p %}
          <div class="media mb-4">
            <div class="media-body">
              <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author }}
                {% if comment.author.username == request.user.username %}
                  <span style="color:red">(Вы)</span>
                {% endif %}
              </a>
              </h5>
              <p style="font:menu; color:grey">
                {{ comment.created}}</p>
              <p>
              {{ comment.text|safe|linebreaksbr }}
              </p>
              <a data-bs-toggle="collapse"
                 href="#collapseComment{{comment.pk}}" aria-expanded="false"
                 aria-controls="collapseComments">
                 <span style="font:menu">Развернуть ответы</span>
              </a>
                <a data-bs-toggle="collapse"
                   href="#collapse{{comment.pk}}" aria-expanded="false"
                   aria-controls="collapseExample">
                  <span style="font:menu">Ответить</span>
                </a>
                <div class="collapse" id="collapse{{comment.pk}}">
                  <div class="card card-body">
                    <form method="post"
                          action="{% url 'posts:add_comment_to_comment' post.id comment.id %}">
                      {% csrf_token %}
                      <div class="form-group mb-2">
                        {{ form.text|addclass:'form-control' }}
                      </div>
                      <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                  </div>
                </div>
                <a href="{% url 'posts:add_comment_with_quote' post.id comment.id %}">
                  <span style="font:menu">Процитировать</span>
                </a>
              {% if comment.author.username == request.user.username or request.user.is_superuser %}
                <a href="{% url 'posts:comment_del' post.id comment.id %}"
                style="float: right;">
                  <span style="color:red; font:menu">Удалить комментарий</span>
                </a>
              {% endif %}
              {% for comment_d in comments %}
              {% if comment.pk == comment_d.comment_p.id  %}
                <div class="collapse" style="padding: 5px 30px " id="collapseComment{{comment.pk}}">
                  <div class="media mb-4">
                    <div class="media-body">
                      <h5 class="mt-0">
                        <a href="{% url 'posts:profile' comment_d.author.username %}">
                          {{ comment_d.author }}
                            {% if comment.author.username == request.user.username %}
                              <span style="color:red">(Вы)</span>
                            {% endif %}
                        </a>
                      </h5>
                      <p style="font:menu; color:grey">
                        {{ comment_d.created}}</p>
                      <p>
                      {{ comment_d.text|safe|linebreaksbr }}
                      </p>
                      {% if comment.author.username == request.user.username or request.user.is_superuser %}
                        <a href="{% url 'posts:comment_del' post.id comment_d.id %}">
                          <span style="color:red; font:menu">Удалить комментарий</span>
                        </a>
                      {% endif %}
                      <hr>
                      </div>
                    </div>
                </div>
              {% endif %}
              {% endfor %}
              <hr>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          </div>
        </article>
      </div>
{% endblock %}