{% extends 'base.html'%}
{% block content %}
<main>
  <div class="container py-5">
    <h2>Результаты поиска по сайту по запросу "{{ query }}":</h2>
    {% if page_obj %}
    <ul>
      {% for post in page_obj %}
        <li>
          Автор:
          {% include 'posts/includes/author_view.html' %}
        </li>
        <li>
          Группа:
          {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}">
              {{ post.group }}
            </a>
          {% else %}
            отсутствует
          {% endif %}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
        <p>{{ post.text }}</p>
      {% if post.group %}
        <a class="btn btn-outline-primary btn-sm"
          href="{% url 'posts:group_list' post.group.slug %}">
            Все записи группы
        </a>
        <a class="btn btn-outline-primary btn-sm"
          href="{% url 'posts:profile' post.author.username %}">
            Все записи пользователя
        </a>
      {% endif %}
        <hr>
      {% endfor %}
      {% include 'posts/includes/paginator.html' with simbol='&' %}
    {% else %}
      <p1>Извините, по вашему запросу "{{ query }}" ничего не найдено...</p1>
    {% endif %}
  </div>
</main>
{% endblock %}

